<section class="cid-qyY8keMIH0" id="footer2-a" data-rv-view="1248">

  <div class="container">
      <div class="media-container-row content mbr-white">
          <div class="col-12 col-md-3 mbr-fonts-style display-7">
              <p class="mbr-text">
                  <strong>Address</strong>
                  <br>
                  <br>811 ถ.สามเสน แขวงถนนนครไชยศรี
                  <br>เขตดุสิต กรุงเทพมหานคร 10300
                  <br>สายด่วน 1460 ชลประทาน บริการประชาชน
                  <br>ตู้ปณ. 1460 ปณฝ. บางกระบือ เขตดุสิต กทม. 10301
                  <br>
                  <br>
                  <br><strong>Contacts</strong>
                  <br>
                  <br>E-mail : 1460@mail.rid.go.th, kromchol@mail.rid.go.th 
                  <br>Phone : 02-241-0020 ถึง 29
              </p>
          </div>
          <div class="col-12 col-md-3 mbr-fonts-style display-7">
              <p class="mbr-text">
                  <strong>Links</strong>
                  <br>
                  <br><a class="text-white" href="http://www.rid.go.th/">กรมชลประทาน</a>
                  <br><a class="text-white" href="http://water.rid.go.th/hydrology/index.html">ส่วนอุทกวิทยา</a>
                  <br><a class="text-white" href="http://water.rid.go.th/hydhome">สำนักอุทก</a>
                  <br>
                  <br><strong>ไทยนิยม</strong>
                  <br>
                  <br><img src="assets/images/re-thainiyom61.png">
              </p>
          </div>
          <div class="col-12 col-md-6">
              <div class="google-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.148956834525!2d100.50166271457677!3d13.76988930058462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2996883c36fd9%3A0xaceacd7754555eaf!2z4LiB4Lij4Lih4LiK4Lil4Lib4Lij4Liw4LiX4Liy4LiZIOC4quC4s-C4meC4seC4geC5geC4nOC4meC4h-C4suC4meC5geC4peC4sOC5guC4hOC4o-C4h-C4geC4suC4ow!5e0!3m2!1sen!2sth!4v1533970444744" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          </div>
      </div>
      <div class="footer-lower">
          <div class="media-container-row">
              <div class="col-sm-12">
                  <hr>
              </div>
          </div>
          <div class="media-container-row mbr-white">
              <div class="col-sm-6 copyright">
                  <p class="mbr-text mbr-fonts-style display-7" style="text-align:center">
                      © Copyright 2018 โครงการโทรมาตรขนาดเล็ก
                  </p>
              </div>
              <!--<div class="col-md-6">
                  <div class="social-list align-right">
                      <div class="soc-item">
                          <a href="https://twitter.com/mobirise" target="_blank">
                              <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                          </a>
                      </div>
                      <div class="soc-item">
                          <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                              <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                          </a>
                      </div>
                      <div class="soc-item">
                          <a href="https://www.youtube.com/c/mobirise" target="_blank">
                              <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                          </a>
                      </div>
                      <div class="soc-item">
                          <a href="https://instagram.com/mobirise" target="_blank">
                              <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                          </a>
                      </div>
                      <div class="soc-item">
                          <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                              <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                          </a>
                      </div>
                      <div class="soc-item">
                          <a href="https://www.behance.net/Mobirise" target="_blank">
                              <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                          </a>
                      </div>
                  </div>
              </div>-->
          </div>
      </div>
  </div>
</section>