<div class="ui page dimmer segment">
    <div class="content">
       

    <div class="ui styled accordion">
        <div class="title active">
          <i class="dropdown icon"></i>
          สัญลักษณ์ต่างๆ
        </div>
        <div class="content active">
            <table class="table">
                <tbody>
                  <tr>
                    <td width="50"><i class="fas fa-project-diagram"></i></td>
                    <td>ศูนย์/โครงการ</td>
                  </tr>
                  <tr>
                    <td width="50"><i class="fas fa-tint"></i></td>
                    <td>ลุ่มน้ำ</td>
                  </tr>
                  <tr>
                    <td width="50"><i class="fab fa-houzz"></i></td>
                    <td>สถานี</td>
                  </tr>
                  <tr>
                    <td width="50"><i class="fas fa-thermometer"></i></td>
                    <td>เซนเซอร์</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          สัญลักษณ์ตของสภาวะของเซนเซอร์ต่างๆ
        </div>
        <div class="content">
            <table class="table">
                <tbody>
                  <tr>
                    <td width="50"><i class="fas fa-rss-square meter-normal"></i></td>
                    <td>ระดับน้ำหรือฝนหรือคุณภาพอากาศอยู่ในเกณฑ์ปกติ</td>
                  </tr>
                  <tr>
                    <td width="50"><i class="fas fa-rss-square meter-info"></i></td>
                    <td>ระดับน้ำหรือฝนหรือคุณภาพอากาศอยู่ในเกณฑ์มาก</td>
                  </tr>
                  <tr>
                    <td width="50"><i class="fas fa-rss-square meter-warning"></i></td>
                    <td>ระดับน้ำอยู่ในเกณฑ์น้อย</td>
                  </tr>
                  <tr>
                    <td width="50"><i class="fas fa-rss-square meter-danger"></i></td>
                    <td>ระดับน้ำล้นตลิ่ง หรือ ฝนหรือคุณภาพอากาศอยู่ในเกณฑ์วิกฤต</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="title">
          <i class="dropdown icon"></i>
          สัญลักษณ์ตของสถานะของเซนเซอร์
        </div>
        <div class="content">
            <table class="table">
                <tbody>
                  <tr>
                    <td width="50"><i class="fab fa-audible meter-normal"></i></td>
                    <td>สถานะเซนเซอร์ปกติ</td>
                  </tr>
                  <tr>
                    <td width="50"><i class="fab fa-audible meter-danger"></i></td>
                    <td>สถานะเซนเซอร์ขาดการเชื่อมต่อ</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
  </div>