<section class="menu cid-qyY7WBynLk" once="menu" id="menu1-1" data-rv-view="1210">

    

  <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
      </button>
      <div class="menu-logo">
          <div class="navbar-brand">
              
              <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="https://mobirise.com/bootstrap-template/">
                     <img src="assets/images/logo_small.png"> โครงการโทรมาตรขนาดเล็ก</a></span>
          </div>
      </div>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
              <li class="nav-item dropdown">
                  <a class="nav-link link text-black display-4" routerLink="/" href="javascript:void(0)">ตำแหน่งทั้งหมด</a>
              </li>
              <li class="nav-item dropdown">
                      <a class="nav-link link text-black display-4" routerLink="/station" href="javascript:void(0)">ศูนย์/โครงการ</a>
              </li>
              <li class="nav-item dropdown">
                      <a class="nav-link link text-black display-4" routerLink="/riverbasin" href="javascript:void(0)">ลุ่มน้ำ</a>
              </li>
              <li class="nav-item dropdown">
                      <a class="nav-link link text-black display-4" routerLink="/province" href="javascript:void(0)">จังหวัด</a>
              </li>
          </ul>
      </div>
  </nav>
</section>