<section class="section-content">
  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(152, 152, 152);"></div>
  <div class="container container-content">

      <div class="ui form">
          <div class="fields">
            <div class="field">
              <label>Station</label>
              <select class="ui search dropdown" [(ngModel)]="station">
                  <option value="">เลือกสถานี</option>
                  <option *ngFor="let item of station_list" value="{{item.KEY}}">{{item.VALUE}}</option>
                </select>
            </div>
            <div class="field">
              <label>Start Date</label>
              <div class="ui action input">
                  <input type="text" placeholder="yyyy-mm-dd"
                  name="dp1" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker">
                  <button class="ui icon button" (click)="d1.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
            </div>
            <div class="field">
              <label>End Date</label>
              <div class="ui action input">
                  <input type="text" placeholder="yyyy-mm-dd"
                  name="dp2" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker">
                  <button class="ui icon button" (click)="d2.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
              </div>
            </div>
            <div class="field">
                <label>&nbsp;</label>
                <i class="fas fa-search" style="font-size:2em; cursor:pointer;color:#5a5a5a;" (click)="Search()"></i>
            </div>
          </div>
        </div>
      
          <table class="ui compact celled definition table" [mfData]="data_records" #mf="mfDataTable" [mfRowsOnPage]="600">
                <thead>
                    <tr>
                        <td colspan="5">
                                <div class="ui right floated buttons">
                                        <button class="ui positive button" (click)="exportAsXLSX()">Excel</button>
                                        <div class="or"></div>
                                        <button class="ui red button" (click)="exportPdf()">Pdf</button>
                                </div>
                        </td>
                    </tr>
                </thead>
            <thead class="full-width">
                  <tr>
                    <th>
                            <mfDefaultSorter by="name">เวลาบันทึก</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="email">ระดับน้ำปัจจุบัน</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="age">ระดับน้ำก่อนหน้า</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="city">ปริมาณน้ำฝน</mfDefaultSorter>
                        </th>
                  </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let item of mf.data">
                                <td>{{item.record_time}}</td>
                                <td>{{item.water_level_front}}</td>
                                <td class="text-right">{{item.water_level_back}}</td>
                                <td>{{item.rainguage}}</td>
                            </tr>
                  
                </tbody>
                <tfoot class="full-width">
                  <tr>
                    <th></th>
                    <th colspan="4">
                           
                    </th>
                  </tr>
                </tfoot>
              </table>

     
  </div>
</section>
