<section class="section-content">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(152, 152, 152);"></div>
  <div class="container container-content">

      <h2 class="ui dividing header">
          มุมมองทั่วไป
      </h2>
      <br><br>
      <div class="filter-station">
          <div class="ui labeled input">
              <div class="ui label">
                  ศูนย์หรือโครงการ
              </div>
              <select class="">
                <option value="all">แสดงเซนเซอร์ในศูนย์หรือโครงการทั้งหมด</option>
              </select>
            </div>
            <i onclick="$('.segment').dimmer('show');" class="fas fa-question-circle info"></i>
      </div>
      
      <br><br><br>
      

    <div class="ui divided items">
      <div class="item">
        <div class="image">
          <img src="assets/images/image.png">
        </div>
        <div class="content">
          <a class="header">12 Years a Slave</a>
          <div class="meta">
            <span class="cinema">Union Square 14</span>
          </div>
          <div class="description">
            <img src="assets/images/short-paragraph.png" class="ui wireframe image">
          </div>
          <div class="extra">
            <div class="ui label"><i class="fab fa-houzz"></i>&nbsp;&nbsp;สถานี</div>
            <div class="ui label"><i class="fas fa-project-diagram"></i>&nbsp;&nbsp;ศูนย์/โครงการ</div>
            <div class="ui label"><i class="fas fa-bullseye"></i>&nbsp;&nbsp;สถานะเซนเซอร์</div>
            <div class="ui label"><i class="fas fa-tint"></i>&nbsp;&nbsp;ลุ่มน้ำ</div>
            <div class="ui label"><i class="fas fa-thermometer"></i>&nbsp;&nbsp;เซนเซอร์</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/image.png">
        </div>
        <div class="content">
          <a class="header">My Neighbor Totoro</a>
          <div class="meta">
            <span class="cinema">IFC Cinema</span>
          </div>
          <div class="description">
            <img src="assets/images/short-paragraph.png" class="ui wireframe image">
          </div>
          <div class="extra">
              <div class="ui label"><i class="fab fa-houzz"></i>&nbsp;&nbsp;สถานี</div>
              <div class="ui label"><i class="fas fa-project-diagram"></i>&nbsp;&nbsp;ศูนย์/โครงการ</div>
              <div class="ui label"><i class="fas fa-bullseye"></i>&nbsp;&nbsp;สถานะเซนเซอร์</div>
              <div class="ui label"><i class="fas fa-tint"></i>&nbsp;&nbsp;ลุ่มน้ำ</div>
              <div class="ui label"><i class="fas fa-thermometer"></i>&nbsp;&nbsp;เซนเซอร์</div>
            </div>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="assets/images/image.png">
        </div>
        <div class="content">
          <a class="header">Watchmen</a>
          <div class="meta">
            <span class="cinema">IFC</span>
          </div>
          <div class="description">
            <img src="assets/images/short-paragraph.png" class="ui wireframe image">
          </div>
          <div class="extra">
              <div class="ui label"><i class="fab fa-houzz"></i>&nbsp;&nbsp;สถานี</div>
              <div class="ui label"><i class="fas fa-project-diagram"></i>&nbsp;&nbsp;ศูนย์/โครงการ</div>
              <div class="ui label"><i class="fas fa-bullseye"></i>&nbsp;&nbsp;สถานะเซนเซอร์</div>
              <div class="ui label"><i class="fas fa-tint"></i>&nbsp;&nbsp;ลุ่มน้ำ</div>
              <div class="ui label"><i class="fas fa-thermometer"></i>&nbsp;&nbsp;เซนเซอร์</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>



