<section class="engine"><a href="https://mobirise.co/h">make your own website for free</a></section><section class="cid-qyY7WeZi1w mbr-fullscreen mbr-parallax-background" id="header2-0" data-rv-view="1212">

  

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(152, 152, 152);"></div>

  <!-- <iframe frameborder="0" style="width:80%;height:65%;position:absolute;top:126px;left:10%;opacity: 0.9;border: 3px solid #656565;border-radius: 4px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe> -->
  
  <agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
   style="width:80%;height:65%;position:absolute;top:126px;left:10%;opacity: 0.9;border: 3px solid #656565;border-radius: 4px;">
<!-- (mapClick)="mapClicked($event)" -->
  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="gotoHashtag(m.station)"
      (mouseOver)="onMouseOver(infoWindow,m)"
      (mouseOut)="onMouseOut(infoWindow,m)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window #infoWindow>
      <div [innerHTML]="m.data"></div>
    </agm-info-window>
    
  </agm-marker>
  
</agm-map>

  <div class="container align-center">
        
      <div class="row justify-content-md-center">
              
           <!-- <div class="mbr-white col-md-10">
                  <iframe frameborder="0" style="border:0;width:100%;height:100%;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe>
             <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Responsive Bootstrap Corporate Template</h1>
              
              <p class="mbr-text pb-3 mbr-fonts-style display-5">
                  Ut nisi orci, consequat a metus ut, aliquet fermentum lectus. In pretium vehicula aliquam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
              <div class="mbr-section-btn"><a class="btn btn-md btn-black-outline display-4" href="https://mobirise.com/bootstrap-template/mobirise-free-template.zip">FREE DOWNLOAD</a>
                  <a class="btn btn-md btn-black-outline display-4" href="#">LIVE DEMO</a></div>
          </div>-->
      </div>
  </div>
  <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
      <a href="#next">
          <i class="mbri-down mbr-iconfont"></i>
      </a>
  </div> -->
</section>

<section class="cid-qyY7XZqMLr mbr-fullscreen mbr-parallax-background" id="header15-2" data-rv-view="1215">

  

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

  <div class="container align-right">
<div class="row">
  <div class="mbr-white col-lg-8 col-md-7 content-container">
      <h2 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
          ติดตามเรา</h2>
      <p class="mbr-text pb-3 mbr-fonts-style display-5">
              บุคคลทั่วไปสามารถเข้าชมรายงานผลของการวัดค่าทั้งระดับน้ำ ปริมาณน้ำฝน และคุณภาพอากาศ
      </p>
  </div>
  <div class="col-lg-4 col-md-5">
  </div>
</div>
  </div>
  <!-- <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
      <a href="#next">
          <i class="mbri-down mbr-iconfont"></i>
      </a>
  </div> -->
</section>
